:root {
  background-color: #0E0E0E;
}
body {
  background-color: #0E0E0E;
}

.margin-negative-foto {
    margin-top: -110px;
    
  }

.margin-negative-50px {
    margin-top: -50px;
    
  }

  .margin-negative-25px {
    margin-top: -25px;
    
  }
  